.signup {
  background-color: #F4E5E4;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100%;
}

@media (min-width: 769px) {
  .signup {
    height: 600px;
    width: 768px;
  }
}

.signup__header {
  display: flex;
  justify-content: flex-end;
}
