.signup {
  border: 1px black solid;
  position: fixed;
  background-color: pink;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (min-width: 769px) {
  .signup {
    width: 768px;
    height: 600px;
  }
}
