.notification {
  background-color: #CA907E;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.notification__text {
  align-items: center;
  display: flex;
  font-size: 20px;
  padding: 10px;
}
