.homepage {
  background-color: #DFDBE4;
  width: 100vw;
  height: 100vh;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 50px;
}

.content__header {
  color: #272727;
}
