.btn {
  background-color: transparent;
  border: 1.5px solid #272727;
  color: #272727;
  font-size: 25px;
  padding: 20px 10px;
}

.btn:hover:not(.btn--isDisabled) {
  background-color: #994636;
  cursor: pointer;
}

.btn--isDisabled {
  background-color: #C5BECE;
  border: none;
  color: #D4CFDB;
}
