.btn {
  border: 1.5px solid #EFECCA;
  background-color: transparent;
  color: #EFECCA;
  font-size: 25px;
  padding: 20px 10px;
}

.btn:hover:not(.btn--isDisabled) {
  background-color: #00BD9D;
  cursor: pointer;
}

.btn--dismiss {
  width: 70px;
  height: 70px;
  padding: 10px;
  border: none;
}

.btn--isDisabled {
  background-color: grey;
  color: black;
}
