.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

@media (min-width: 769px) {
  .form {
    height: 80%;
  }
}

.input--wrapper {
  display: flex;
  flex-direction: column;
}
