* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, .title {
  font-size: 60px;
}

h1,h2 {
  font-weight: normal;
}

.content {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 50px;
}

.page_wrapper {
  align-items: center;
  background-color: #DCDBD1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .content {
    padding: 20px;
    width: 100%;
  }
}
